*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;

}

.cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.cars div:hover{
    background-size: 150%;
    background-position: right 120% top 50%;
}
.cars div{
    width: 360px;
    height: 360px;
    background-color: ghostwhite;
    outline: 1px solid black;
    margin: 20px;
    background-image: url("https://subaru.ru/uploads/blocks/resize__320_b693995b9c64825089ebe6f005f6193065c22d2c34ffd.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    transition: backgraund .5s;
}
.cars div:hover.descr{
    opacity: 1;

}
.cars div .descr{
    position: relative;
    opacity: 0;
    display: inline-block;
    color: blue;
    text-decoration: none;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 4px;
    transition: backgraund .5s, color .8s ;
    
    

}
.cars div .descr{
    background-color: blue;
    color: white;

}